@import './base.css';
@import "@fontsource/playfair-display";
@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
    font-family: 'Market Deco';
    src: url('@/assets/fonts/Market_Deco.ttf');
}

@font-face {
    font-family: 'Badly Stamped';
    src: url('@/assets/fonts/BadlyStamped.ttf');
}

@font-face {
    font-family: 'Moms Typewriter';
    src: url('@/assets/fonts/MomsTypewriter.ttf');
}

/* variables */
:root {
    --classy-font: "Playfair Display", serif;
    --main-font: "Badly Stamped", serif;
    --brand-font: "Moms Typewriter", serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: lightgrey !important;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.home {
    background-image: url("@/assets/files/homepageBG.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 5vh;
}
